{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="NewPost">
    <h1>New Post</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Title:</label>
        {{ form.title }}
        <label for="content">Content:</label>
        {{ form.content }}
        <label for="images">Images:</label>
        <label for="file-upload-input" class="btn-upload">Upload Images</label>
        <div style="display:none">
        {{ form.images }}
        </div>
        <p id="selected-files"></p>
        {{ attachments.as_p }}
        <button type="submit">Add Post</button>
    </form>
</div>
<script src="{% static 'scrypt.js' %}"></script>
{% endblock %}