{% extends "base.html" %}
{% load static i18n %}
{% block content %}

<div class="NewPost">
    <h1>{% trans 'Создание поста' %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">{% trans 'Заголовок' %}:</label>
        {{ form.title }}
        <label for="content">{% trans 'Контент' %}:</label>
        {{ form.content }}
        <label for="images">{% trans 'Картинки' %}:</label>
        <label for="file-upload-input" class="btn-upload">{% trans 'Загрузить картинки' %}</label>
        <div style="display:none">
        {{ form.images }}
        </div>
        <p id="selected-files"></p>
        {{ attachments.as_p }}
        <button type="submit">{% trans 'Добавить пост' %}</button>
    </form>
</div>
<script src="{% static 'scrypt.js' %}"></script>
{% endblock %}