{% extends 'base.html' %}
{% load i18n %}
{% block content%}
    {% if user.is_authenticated %}
    <a href="{% url 'add_post' %}"><button>{% trans 'Новый пост' %}</button></a>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <h2>{{post.title}}</h2>
            <a href="{% url 'post_details' pid=post.pk %}"> {% trans 'Подробнее' %} </a>
            {% if (user.is_authenticated and user == post.author) or (user.is_authenticated and user.is_superuser) %}
            <a href="{% url 'edit_post' pid=post.pk %}"> {% trans 'Редактировать' %} </a>
            <a href="{% url 'post_delete' pid=post.pk %}"> {% trans 'Удалить' %} </a>
            {% endif %}
            <div class="images">
                {% for att in post.att %}
                    <img src="/media/{{ att.file }}" style="width: 350px">
                {% endfor %}
            </div>
            <p class="content">{{post.content}}</p>
            <p><i>{% trans 'Опубликован' %} {{post.author}}</i></p>
            <p><u>{{post.date}}</u></p>
        </div>
    {% endfor %}
{% endblock %}

